 <div class="container p-4 mt-md-4">
        <div class="row">
            <div class="col-12 col-lg-8">
                <p class="h3 fw-bold mb-4 text-secondary">View Marks</p>
                <form action=<%= result_path %> method="post" class="search-bar d-flex mb-4">
                    <input type="text" id="search" name="query" class="w-100" placeholder="Search...">
                    <button type="submit"><i class="fa-solid fa-search"></i></button>
                </form>

                <%@links.each do |link|%>
                <div class="mark-box p-3 tag-link mb-4 shadow-sm">
                    <div class="row align-items-center">
                        <div class="mark-thumb p-3 ms-2 mb-3 mb-lg-0 col-2">
                            <i class="fa-solid fa-earth-asia"></i>
                        </div>
                        <div class="col-lg-10 col-12 ">
                               <a href=<%= link.url%>> <small class="text-secondary fst-italic mb-0"><%= link.url%></small></a>
                                <br>
                                <div class="small-tag">
                                    <%link.tags.each do |tag|%>
                                    <a href="#"><%= tag.name%></a>
                                    <%end %>
                                </div>
                            </div>
                    </div>
                </div>
                <%end%>
              
            <div class="col-lg-4 p-3 px-lg-5 py-3 mt-3">
                <p class="h3 fw-bold mb-4 text-secondary bor-bottom pb-2">All Tags</p>

                <div class="b-gray rounded-10 py-3 shadow-sm">
                    <ul class="ps-2">
                        <% @tags.each do |tag|%>
                            <li class="nav-link"><a href="#"><%= tag.name%></a></li>
                        <%end%>
                    </ul>
                </div>
            </div>
        </div>
    </div>