<h1> create new bookmark </h1>
<%= form_with(model: @link ) do |form|  %>
   <%= form.label :url%>
   <%= form.text_field :url%>
   
   <%= form.label :tag_list%>
   <%= form.text_field :tag_list%>


    
    <%= form.submit%>
<% end %>