<h1> create new bookmark </h1>
<%= form_with(model: @link ) do |form|  %>
   <%= form.label :url%>
   <%= form.text_field :url%>
   <hr />

   <% for a in 1..3 do %>
   <%= fields_for @tag do |tag_form|%>
      <%= tag_form.label :tag_name%>
      <%= tag_form.text_field :tag_name%>
    <% end %>
    <% end %>
    
    <%= form.submit%>
<% end %>