<%= render 'navbar' %>

<div class="container p-5 mt-5" style="width: 46%">
  <h1 class="">SEACH</h1>
  <%= form_with url: "/result" , method: :get, html: { autocomplete: "off" } do |form| %>
    <div class="mb-3">
      <%= form.label :query, "Search for:" , class: "form-label" %>
      <%= form.text_field :query, class: "form-control", id: "input_tags" %>
      <div id="autocom-box">
        
      </div>
    </div>
    <%= form.submit "Search" , class: "btn btn-default btn-primary" %>
  <% end %>
<%# <%= @tags %> 
</div>

<script>
 $(document).ready(function() {
  $("#input_tags").keyup(function() {
    x = $(this).val()
    $.ajax({
      type: "GET",
      url: "/autocomplete",
      data: {
          text: x
      },
      success: function(result) {
        console.log(result)
        
      },
    });
  });
})
    
</script>