 <%= render "link/navbar"%>
 <!-- <div class=" login-cont">
  <div class="row">
    <div class="col-md col1">
      <h2 class="py-2 login">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
      <% end %>
      <div class="d-flex mt-4">
        <%= render "devise/shared/links"%>
      </div>
    </div>

    <div class="col-md col2 p-5  "></div>
  </div>
</div> 
-->

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <%# <form> %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <button type="button" class="btn btn-info btn-floating mx-2 ml-1 ">
              <i class="fa-brands fa-facebook"></i>
            </button>

            <button type="button" class="btn btn-info btn-floating mx-2">
              <i class="fa-brands fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-info btn-floating mx-2">
              <i class="fa-brands fa-linkedin fab"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <%# <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />  %>
            <%= f.label :email ,class: "form-label"%>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "Enter a valid email address",id: "form3Example3" %>
            
             <%# <label class="form-label" for="form3Example3">Email address</label>  %>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <%# <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" />
            <label class="form-label" for="form3Example4">Password</label> %>
            <%= f.label :password, class: "form-label"%>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg", placeholder: "Enter password" %>

          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <%# <button type="button" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button> %>

            <%= f.submit "Log in", class: "btn btn-info btn-lg", style: "padding-left: 2.5rem; padding-right: 2.5rem;" %>
            
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <%= render "devise/shared/links"%> </p>
             
            
          </div>

        <%end%>
      </div>
    </div>
  </div>
 
</section>  